.reviews_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  min-height: 30vh;
  padding: 8vh 0;
  h2 {
    color: $main_blue;
    margin-bottom: 1em;
  }
  .review {
    width: 395px;
    height: 62px;
    margin-bottom: 0.2em;
    background-size: cover;
  }
}
